@import url("components/container.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/home.css");
@import url("components/image-hp.css");
@import url("components/list-inline.css");
@import url("components/btn-question.css");
@import url("components/list-btn.css");
@import url("components/icons.css");
@import url("components/card.css");
@import url("components/btn-home");



body{
	font-family: 'Arial';
	font-size: 18px;
	font-weight: lighter;
	margin: 0px auto;
	background-size: cover;
	background-position: center;
}

h1,h2,h3{
	font-family: Arial
	font-weight: lighter;
	font-weight: bold 
	margin: 0px auto;
}

h1{
	letter-spacing: 10px;
	font-size: 20px;
	text-align: center;
	float: top
}

h2{
	margin-left: 120px;

}

p {
	flex-basis: 600px
}


a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-weight: bold;
}



a{
	text-decoration: none;

}

a {
text-decoration: none;

}



.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 20px;
}

.list-inline i {
	font-size: 30px;
	color: black;
}



